* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom right, rgb(79, 51, 176), rgb(210, 53, 165));
    font-family: cursive;
    .container {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 100vh;

        h3, p {
            color: white;
            margin: 10px;
        }

        .calculator {
            max-width: 600px;
            background-color: rgba(255, 255, 255, 0.3);
            box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
            border-radius: 20px;
            padding: 30px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            margin-top: 2rem;

            .calculator-screen {
                width: 230px;
                height: 60px;
                border: none;
                background-color: rgba(255,255,255,0.6);
                color: rgb(80, 79, 79);
                font-size: 1.5rem;
                padding: 20px;
                border-radius: 50px;
                margin-bottom: 10px;
            }
            .calculator-keys {
                max-width: 400px;
                .row {
                    margin-bottom: 3px;
                    button {
                        border: none;
                        background-color: rgba(255, 255, 255, 0.5);
                        color: rgb(94, 94, 94);
                        font-size: 1rem;
                        font-weight: 400;
                        cursor: pointer;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin: 1px;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.7);
                        }
                    }
                    .operator {
                        background-color: rgba(5, 112, 199, 0.5);
                        font-weight: 600;
                        color: white;
                        &:hover {
                            background-color: lighten(rgba(5, 112, 199, 0.7), 10%);
                        }
                    }
                    .equal-sign {
                        background-color: rgba(251, 255, 0, 0.5);
                        color: white;
                        &:hover {
                            background-color: lighten(rgba(251, 255, 0, 0.7), 10%);
                        }
                    }
                    .long-btn {
                        width: 100px;
                        border-radius: 50px;
                    }
                    .all-clear {
                        background-color: rgba(255, 0, 0, 0.5);
                        color: white;
                        &:hover {
                            background-color: lighten(rgba(255, 0, 0, 0.7), 10%);
                        }
                    }
                }
            }
        }
    }
}